.radius-on-scroll {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  will-change: border-radius, padding;
}

.radius-on-scroll-inner {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: inherit;
}

.radius-on-scroll-inner img,
.radius-on-scroll-inner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
}
